<!-- profile -->
<div id="profile" class="content_2">
    <!-- .title -->
<h1 class="h-bloc">&Agrave; propos de moi</h1>

<div class="row top-p">
    <div class="col-md-6 profile-l">

        <!--About me-->
        <div class="title_content">
            <div class="text_content">younoussa sow</div>
            <div class="clear"></div>
        </div>

       <ul class="about">

            <!--<li>
                <i class="glyphicon glyphicon-user"></i>
                <label>Nom</label>
                <span class="value">younoussa sow</span>
                <div class="clear"></div>
            </li>

            <li>
                <i class="glyphicon glyphicon-calendar"></i>
                <label>Date naissance</label>
                <span class="value">27-01-1999</span>
                <div class="clear"></div>
            </li>

            <li>
                <i class="glyphicon glyphicon-map-marker"></i>
                <label>Adresse</label>
                <span class="value">Villeneuve d'Ascq</span>
                <div class="clear"></div>
            </li>-->

            <li>
                <i class="glyphicon glyphicon-envelope"></i>
                <label>Email</label>
                <span class="value">unouss@outlook.com</span>
                <div class="clear"></div>
            </li>

            <!--<li>
                <i class="glyphicon glyphicon-phone"></i>
                <label>Téléphone</label>
                <span class="value">06 00 00 00 00</span>
                <div class="clear"></div>
            </li>-->

            <li>
                <i class="glyphicon glyphicon-globe"></i>
                <label>Website</label>
                <span class="value"><a href="http://unouss.free.fr" target="_blank">unouss.free.fr</a></span>
                <div class="clear"></div>
            </li>

        </ul>


        <p style="margin-bottom:20px">
            <i class="fa fa-quote-left"></i>
            Je suis étudiant en DUT informatique à l'IUT-A de l'université de Lille.
            Passionné par les Mathématiques, l'Informatique et les sciences en général depuis le collège, j'aime la logique qui se dégage des chiffres, que l'on retrouve aussi
            dans l'Informatique, et le côté « sciences exactes » des Mathématiques.
            Astucieux, j'explore les nouvelles technologies (Logiciels libres, Android). J'ai réalisé de courts stages dans l'Informatique et des formations dans ce domaine,
            j'ai ainsi pu acquérir des compétences de base (programmation, installation et configuration de serveurs Linux) qui m'ont poussé vers le DUT Informatique.
            </p>

         <p style="margin-bottom:20px">
            <i class="fa fa-quote-left"></i>
            En outre, je suis de nature curieuse ce qui me pousse à explorer de nombreux sujets et me permet d'avoir une bonne culture générale. C'est pour cela que j'aime
            beaucoup la Philosophie qui me permet d'aiguiser mon esprit critique. Mon parcours personnel me permet également d'avoir une sensibilité particulière pour la
            connaissance du monde et des cultures. En ce sens je m'intéresse aussi à l'Histoire et à la Géographie. Les ateliers d'écriture auxquels je participe m'offrent
            la possibilité d'exprimer ma sensibilité et m'aident à développer ma créativité.

        </p>

         <p style="margin-bottom:20px">
            <i class="fa fa-quote-left"></i>
            Je suis également un passionnée de voyage, de lecture

        </p>

    </div>
    <!-- End left-wrap -->

    <div class="col-md-6 profile-r">

        <div class="cycle-slideshow">
            <img src="images/img-profile/about_1.jpg" alt="" />
            <img src="images/img-profile/about_2.png" alt="" />
            <img src="images/img-profile/about_3.png" alt="" />
        </div>

    </div>

</div>

<div class="clear"></div>
</div>
<!-- End .profile -->
